:root {
  --main-font-style: 'Montserrat', sans-serif;
}

body {
  font-family: var(--main-font-style);
  font-style: normal;
}

.list-links {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 70px;
}

/*.link-index {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  color: #fff;
  text-decoration: none;
  background-color: #0078d7;
  border-radius: 10px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 16px;
  text-align: center;
}

.link-index:hover {
  background-color: #005a9e;
  transform: scale(1.1);
} */

/* Центрирование контейнера */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Полная высота экрана */
}

.list-item {
  margin: 0;
}

.link-btn {
  display: inline-block;
  padding: 12px 20px;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  color: black;
  border: 2px solid transparent;
  border-radius: 5px;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.link-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid blue;
  border-radius: 5px;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  transform: scale(1.3);
  opacity: 0;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.link-btn:hover {
  color: blue;
}

.link-btn:hover::before {
  transform: scale(1);
  opacity: 1;
}
